{% extends "default" %}

{% block content_wrapper %}

  <h1>{{ page.title|e }}</h1>

  <div class="row">
    <div class="col w100p"><strong>Auteurs&nbsp;:</strong>&nbsp;</div>
    <div class="col">{{ page.authors|e }}</div>
  </div>

  <div class="row">
    <div class="col w100p"><strong>Publi&eacute; dans&nbsp;:</strong>&nbsp;</div>
    <div class="col">{{ page.localisation|e }}</div>
  </div>

  <div class="mts">
    <a href="{{ page.link }}" class="pub-link"><i class="fa fa-external-link"></i> Consulter l'article</a>
    {% if page.poster %}
    <a href="{{ site.url }}/{{ page.poster }}" class="pub-link"><i class="fa fa-external-link"></i> Poster</a>
    {% endif %}
  </div>

  <hr style="margin-bottom: 1em">

  <p><strong>R&eacute;sumé&nbsp;:</strong></p>
  <p class="txtjustify">{{ page.abstract|e }}</p>

{% endblock %}
