---
layout: default
title: Publications
nav_name: publications

use: [publications]
---

<h1>Publications</h1>

<div class="publications">
{% set type = '' %}
{% for publication in data.publications %}

{% if type != publication.type %}
{% set type = publication.type %}
    <h2 class="mbn">{{ type }}</h2>
{% endif %}

    <article>
      <p><strong><a href="{{ site.url }}{{ publication.url }}">{{ publication.title }}</a></strong></p>

      <div>{{ publication.authors }}<br>
      {{ publication.localisation }}</div>
    </article>
{% endfor %}
</div>
